@media {
    .vertical-menu {
        width: 200px;
    }

    .hide {
        display: none;
    }

    .i-table {
        font-family: arial, sans-serif;
        border: 1px solid #dddddd;
        text-align: center;
        width: 100%;
    }

    .i-table td, th {
        border: 1px solid #dddddd;
        padding: 8px;
    }

    .i-table tr:nth-child(even) {
        border: 1px solid #dddddd;
        background-color: #dddddd;
    }

    .center-text {
        text-align: center;
    }

    .description {
        color: #777;
    }

    .Border-1-white {
        border: 1px solid white;
    }

    .vertical-menu a:hover {
        background-color: #ccc;
    }

    .delete {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 50; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        padding-top: 60px;
    }

    .vertical-menu a.active {
        background-color: #04AA6D;
        color: white;
    }

    .bg-lightgray {
        background-color: lightgray;
    }

    .right {
        float: right;
    }

    .Text-secondary {
        color: #6c757d;
    }

    .left {
        float: left;
    }

    .post-gray:hover {
        background-color: #a6a5a5;
        border: 1px solid black;
    }

    #loading {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
        background-color: lightblue;
    }

    .avatar {
        background-color: #81C4E9;
        color: white;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        border-radius: 50%;
        float: left;
        height: 50px;
        margin-right: 10px;
        min-width: 50px;
        position: relative;
    }

    .topnav {
        overflow: hidden;
    }

    .topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }

    .topnav input[type=text]::placeholder {
        color: #9b9999;
    }

    .topnav .search-container button {
        padding: 6px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .search-container {
        border: 1px solid black;
    }

    .topnav .search-container button:hover {
        background: #ccc;
    }

    @media screen and (max-width: 600px) {
        .topnav .search-container {
            float: none;
        }

        .topnav a, .topnav input[type=text], .topnav .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }

        .topnav input[type=text] {
            border: 1px solid #ccc;
        }
    }

    .error {
        color: black;
        display: none;
        border: 1px solid black;
        width: 300px;
        background: lightcoral;
        position: relative;
        bottom: 15px;
    }

    .scrollTop {
        border: 2px solid black;
        border-radius: 1000%;
        cursor: pointer;

    }


    .time {
        color: white;
        font-family: Verdana;
    }

    .no-underline {
        text-decoration: none;
    }

    .edit-link {
        color: #15c415;
    }

    .delete-link {
        color: #de0505;
    }

    .delete-link:hover {
        color: #de0505;
    }

    .edit-link:hover {
        color: #15c415;
    }

    .delete input[type=text], .delete input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 100%;
        border-top: 16px solid dodgerblue;
        width: 70px;
        height: 70px;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .delete input[type=text], input[type=password] {
        width: 100%;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .delete button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .delete button:hover {
        opacity: 1;
    }

    /* Extra styles for the cancel button */
    .delete .cancelbtn {
        padding: 14px 20px;
        background-color: #f44336;
    }

    .link {
        text-decoration: none;
    }

    .link-color {
        color: royalblue;
    }

    .button-to-link {
        background: none;
        border: none;
        color: royalblue;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }


    .Blue {
        color: blue;
    }

    .width .max {
        width: 100%;
    }

    .news {
        border: 1px solid black;
        overflow: auto;
    }

    .news .image {
        height: 50%;
        width: 50%;
    }

    .news .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .news .title {
        font-size: medium;
    }

    .news .text {
        text-decoration: none;
        padding: 3px 3px;
    }

    .news .link {
        padding: 3px 3px;
        color: royalblue;
    }

    .news .comment {
        text-decoration: none;
        padding: 3px 3px;
        color: rgba(148, 148, 148, 0.89);
        text-transform: lowercase;
    }

    .horizontal-line {
        position: relative;
        width: 2px;
        height: 100%;
        background-color: #383737;
    }

    .horizontal-menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
    }

    .horizontal-menu li {
        float: left;
        cursor: pointer;
    }

    .horizontal-menu li a {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .horizontal-menu li a:hover:not(.active) {
        background-color: #ddd;
    }

    .horizontal-menu li a.active {
        color: white;
        background-color: #2c3eff;
    }

    .horizontal-menu .container {
        padding: 16px;
    }

    .horizontal-menu .exit {
        display: block;
        color: #666;
        text-align: center;
        float: right;
        text-decoration: none;
    }


    .horizontal-menu li.right {
        float: right;
    }

    .news .date {
        text-decoration: none;
        padding: 3px 3px;
        color: rgba(148, 148, 148, 0.89);
        text-transform: lowercase;
        float: right;
    }

    /* Full-width input fields */
    .masuk input[type=text], .masuk input[type=password], .masuk select {
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        width: 100%;
    }

    .btn-cancel {
        background-color: #ff0000;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    .btn-cancel:hover {
        opacity: 0.8;
    }

    /* Set a style for all buttons */
    .masuk button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    .masuk button:hover {
        opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    /* Center the image and position the close button */
    .container {
        padding: 16px;
    }

    .btn-search {
        background: #ffffff;
        border: 1px solid black;
    }

    .Text-decoration-none {
        text-decoration: none;
    }

    .header {
        height: 50px;
    }

    .bg-black {
        background: black;
    }


    /* The Modal (background) */
    .masuk {
        display: none; /* Hidden by default */
    }

    /* Modal Content/Box */
    .delete .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    .masuk .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }


    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes animatezoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }


    .height .max {
        height: 100%;
    }

    .message-link {
        color: royalblue;
        text-decoration: none;
    }

    .btn-message {
        background-color: royalblue;
        border: 1px solid black;
        cursor: pointer;
    }

    .message {
        position: relative;
        bottom: 5px;
        display: inline;
    }

    .Border-1px {
        border: 1px solid black;
    }


    .Button {
        border: 0;
        color: black;
        background-color: white;
        cursor: pointer;
    }


    .Title h1 {
        font-size: 48px;
        font-family: "Montserrat", sans-serif;
        font-weight: 200;

        text-align: center;
        line-height: 59px;

        padding: 0 64px;
        margin: 0;
    }

    .Title {
        display: grid;
        justify-items: center;
        grid-row-gap: 23px;
        width: 100%;
        padding-top: 25px;
    }

    .gold {
        font-weight: 900;

        color: #f2c94c;
        text-shadow: 4px 0 0 #fff, 0 0 100px #f2c94c;
    }

}