<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}} | Edit</title>
    <link rel="icon" href="{{ url_for('icon') }}" type="image/icon type">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script>
        function validateForm() {
            let name = document.forms['newPageForm']['Name'].value;
            let content = document.forms['newPageForm']['content'].value;

            if (name === "" || name === null) {
                document.getElementById("creator").style.border = "1px solid black";
                document.getElementById("content").style.border = "1px solid black";
                document.getElementById("Name").style.border = "1px solid red";
                return false;
            }

            if (content === "" || content === null) {
                document.getElementById("creator").style.border = "1px solid black";
                document.getElementById("Name").style.border = "1px solid black";
                document.getElementById("content").style.border = "1px solid red";
                return false;
            }
        }
    </script>
</head>
<body style="background-color: lightgray">
<div class="masuk" style="display: block">
    <form class="modal-content animate" method="post" name="newPageForm" id="newPageForm"
          onsubmit="return validateForm()">
        <div class="container">
            <label for="Name"><b>Title</b></label>
            <input type="text" placeholder="Please enter a page name" name="Name" id="Name" maxlength="30"
                   value="{{page_name}}">

            <label for="content"><b>Content</b></label><br>
            <textarea placeholder="Please enter a content" style="width: 100%;" name="content"
                      id="content">{{content}}</textarea>
            <br>
            <button type="submit">Edit</button>
            <input type="button" onclick="Cancel()" value="Cancel" class="btn-cancel">
            <script>
                function Cancel() {
                    open("/", "_top")
                }
            </script>
        </div>
    </form>
</div>
</body>
</html>