<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/image/icon.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>Internalium</title>

    <!--ads--->
    <script data-ad-client="ca-pub-9082544303103022" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    <script>
        function checkCookie() {
            var USERNAME = getCookie("__usm");

            document.getElementById("creator").value = USERNAME;
            document.getElementById("username2").innerHTML = USERNAME;

            let username = getCookie("__usm");
            if (username !== "") {
            } else {
                open("/login", "_top")
            }
        }
    </script>

    <!--Validate form-->
    <script>
        function validateForm() {
            let content = document.forms['newArticleForm']['content'].value;

            if (content === "" || content === null) {
                document.getElementById("Content").style.border = "1px solid red";
                return false;
            }
        }
    </script>
</head>

<body id="page-top" onload="checkCookie()">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
            <div class="sidebar-brand-icon">
                <img src="/image/icon.ico">
            </div>
            <div class="sidebar-brand-text mx-3"><small>Internalium</small></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/home">
                <i class="fas fa-fw fa-home"></i>
                <span>Home</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Article
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/article">
                <i class="fas fa-fw fa-file"></i>
                <span>Article</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/new/article">
                <i class="fas fa-fw fa-plus-circle"></i>
                <span>New Article</span></a>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alert
                            </h6>
                            {% for News in news %}
                                <a class="dropdown-item d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-info text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">{{ News.date }}</div>
                                        {{ News.alert }}
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="username2"></span>
                            <i class="fas fa-user-circle fa-fw"></i>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <div id="forAnonymous" style="display: none;">
                                <a class="dropdown-item" href="/login">
                                    Login
                                </a>
                                <a class="dropdown-item" href="/sign_up">
                                    Sign Up
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/">
                                    Exit
                                </a>
                            </div>
                            <div id="forNoAnonymous" style="display: block;">
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    Logout
                                </a>
                            </div>
                            <script>
                                function logOut() {
                                    deleteCookie("__usm")
                                    open("/", "_top")
                                }
                            </script>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">New Article</h1>
                </div>
                <!-- Area Chart -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">New Article</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <form method="post" name="newArticleForm" id="newArticleForm"
                              onsubmit="return validateForm()">
                            <div class="container">
                                <label><b>Content</b></label><br>
                                <textarea rows="15" onkeydown="this.style.border = '2px solid white'" placeholder="Please enter a content"
                                          style="width: 100%; resize: none; outline: none;"
                                          name="content"
                                          id="Content">{{ content }}</textarea>
                                <input type="text" name="creator" id="creator"
                                       style="display: none;" readonly>
                                <br><br>
                                <div class="fileinputs">
                                    <input type="file" id="file" onchange="previewFile()"
                                           style="width: 100%; height: 40px;" class="file" name="file"
                                           accept="image/*">
                                    <div class="fakefile">
                                        <div style="border: 1px solid black; width: 100%; height: 40px;margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%); padding-left: 6px;">
                                            <none style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);">
                                                <img src="/image/picture.png" class="img img-rounded" width="25" height="25"><b> Picture</b>
                                            </none>
                                        </div>
                                    </div>
                                </div>
                                <div class="fileinputs">
                                    <input type="color" id="background"
                                           style="width: 100%; height: 40px;" class="file" name="background"
                                           accept="image/*">
                                    <div class="fakefile">
                                        <div style="border: 1px solid black; width: 100%; height: 40px;margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%); padding-left: 6px;">
                                            <none style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);">
                                                <img src="/image/paint.png" class="img img-rounded" width="25" height="25"><b> Background</b>
                                            </none>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <script>
                                    function previewFile() {
                                        var preview = document.getElementById("Content")
                                        var file = document.getElementById("file").files[0];
                                        var reader = new FileReader();

                                        reader.onloadend = function () {
                                            preview.value += "\n" + reader.result + "Picture" + "\n\n";

                                            var textarea = document.getElementById('Content');
                                            textarea.scrollTop = textarea.scrollHeight;
                                        }

                                        if (file) {
                                            reader.readAsDataURL(file);
                                        }
                                    }

                                    document.getElementById("background").value = {{ background }}
                                </script>
                                <button class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <script>
            function searchTable() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("search");
                filter = input.value.toUpperCase();
                table = document.getElementById("article");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" onclick="logOut()">Logout</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>

</body>
</html>
