<!DOCTYPE html>
<html lang="en">
<head>
    <title>Internalium</title>
    <meta charset="utf-8">
    <script data-ad-client="ca-pub-9082544303103022" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="icon" href="http://www.internalium.com/image/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="alert alert-danger">
        <a href="/home" class="close">&times;</a>
        <strong>Error!</strong> "{{ name }}" Already Exist
    </div>
</div>

</body>
</html>
