<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internalium</title>
    <script src="{{ url_for("static", filename='js/main.js') }}"></script>
    <link rel="icon" href="/image/icon.png">
    <script data-ad-client="ca-pub-9082544303103022" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<script>
    let username = "{{ username }}";
    let password = "{{ password }}";

    setCookie("__usm", "AsA6AD3lA3aDd89aBsnDlAkSN52AsnBDuS3r" + username, 1)

    open("/home", "_top")
</script>
</body>
</html>